.post {
    font-size: 1.2em;
    border: 4px solid var(--light-green);
    border-radius: 20px;
    padding: 10px 15px;
    color: var(--transparent-green);
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.userData {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    flex: 1;
    & :first-child {
        color: var(--dark-green);
        &:hover {
            text-decoration: underline currentColor 2px;
        }
    }
    & :nth-child(2) {
        font-size: 0.9em;
        &:hover {
            text-decoration: underline currentColor 2px;
        }
    }
}

.postData {
    display: flex;
    & > :first-child {
        padding: 9px;
    }
}

.message {
    padding: 15px;
    padding-left: 25px;
}

.buttons {
    display: flex;
    justify-content: end;
    gap: 15px;
}

.dropdownContent {
    background-color: var(--white);
    border: 3px solid var(--light-green);
    padding: 5px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: stretch;
}

.dropdownItems {
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
}
