.post {
    font-size: 1.2em;
    border: 4px solid var(--verde-claro);
    border-radius: 20px;
    padding: 10px 15px;
    color: rgb(from var(--verde-escuro) r g b / 0.6);
}

.header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.userData {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
    & :first-child {
        color: var(--verde-escuro);
    }
    & :nth-child(2) {
        font-size: 0.9em;
    }
}

.postData {
    display: flex;
    & > :first-child {
        padding: 9px;
    }
}

.message {
    padding: 15px;
    padding-left: 25px;
}

.buttons {
    display: flex;
    justify-content: end;
    gap: 15px;
}

.dropdownContent {
    background-color: var(--branco);
    border: 3px solid var(--verde-claro);
    padding: 5px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: stretch;
}

.dropdownItems {
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
}