.profilePicture {
    max-width: 60px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--light-green);
    &[class*="small"] {
        max-width: 50px;
    }
    &[class*="large"] {
        max-width: 150px;
    }
}
