.button {
    background-color: var(--verde-claro);
    color: var(--marrom);
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 0.8em;
    border-radius: 50px;
    cursor: pointer;
    transition: .4s;
    border: 2px solid transparent;

    &:hover {
        background-color: color-mix(in srgb, var(--verde-claro) 90%, black);
    }

    &:focus {
        border: 2px solid black;
    }
}