.button {
    display: flex;
    gap: 15px;
    align-items: center;
    text-decoration: none;
    color: inherit;
    transition: .4s;
    border-radius: 50px;
    border: none;
    background-color: transparent;
    padding: 5px 15px;
    font-size: 1em;
    cursor: pointer;
    &:hover, &[class*="active"], &:focus-visible {
        background-color: var(--bg-hover-color, var(--verde-escuro));
        color: white;
    }
    &[class*="circle"] {
        padding: 10px;
    }
    &[class*="smallCircle"] {
        padding: 5px;
    }
    &[class*="noGap"] {
        gap: 0;
    }
}

[class*="favorite"] [class*="material-symbols-outlined"] {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }