.sidebar {
    background-color: var(--light-green);
    color: var(--brown);
    --bg-hover-color: var(--brown);
    max-width: 250px;
    width: 100%;
    padding: 10px;
    font-size: 1.3em;

    display: flex;
    flex-direction: column;
    gap: 20px;

    position: fixed;
    inset: 0;
    right: auto;
}

.active {
    background-color: var(--brown);
    color: white;
}

.link {
    display: flex;
    justify-content: center;
}

.logo {
    max-width: 100px;
    width: 100%;
}

.sidebarEnd {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}
