.main {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 15px;

    & h1 {
        color: var(--dark-green);
    }
}

.link {
    text-align: center;
    color: var(--dark-green);
    &:hover {
        text-decoration: none;
    }
}
