.button {
    background-color: var(--light-green);
    color: var(--brown);
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 0.8em;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.4s;
    border: 2px solid transparent;
    text-decoration: none;

    &:hover {
        background-color: color-mix(in srgb, var(--light-green) 90%, black);
    }

    &:focus-visible {
        border: 2px solid black;
    }
}
