.div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.label {
    color: var(--dark-green);
    font-size: 1em;
}

.input {
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 0.9em;
    border: 2px solid var(--light-green);
    caret-color: var(--dark-green);
    color: var(--dark-green);
}

.input:focus {
    border: 2px solid var(--dark-green);
    outline: none;
}

.input::placeholder {
    color: var(--transparent-green);
}
