.div {
    display: flex;
    align-items: flex-end;
    gap: 5px;
    color: var(--dark-green);

    & :first-child {
        flex: 1;
    }
}

.button {
    border: 2px solid currentColor;
    background-color: white;
    color: var(--dark-green);
    border-radius: 12px;
    padding: 8px 15px;
}
