/* Importação Fonte do Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    /* Variáveis Globais */
    --dark-green: #05a63a;
    --transparent-green: rgb(from var(--dark-green) r g b / 0.6);
    --light-green: #a1f7a1;
    --brown: #9c726d;
    --white: #f3f3f3;
}

* {
    /* Reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Arial, sans-serif;
}

body {
    background-color: var(--white);
}
